.container{
    display: flex;
    flex-direction: row;
}
.container .cont{
    width: 100%;
}
.content{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.postButton{
    width: 20%;
    height: 80px;
    background: #111115;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.sideIcon{
    width: min(20px , 4vw);
    height:  min(20px , 4vw);
    background: transparent;
    position: relative;
    margin-right: 10px;
  }
  .content{
    margin-top: 30px;
  }
  .PostCont{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: fit-content;
    background: #111115;
    border-radius: 5px;
    margin: 5px;
    font-size: min(3vw, 14px);
    cursor: pointer;
    padding:0px 10px;
  }

  .dates{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .status{
    padding:0 10px;
    background: #2796187a;
    font-size: 10px;
    border-radius: 5px;
  }

  .contentDet p {
    color: #656565;
    font-weight: 400;
    font-size: min(13px, 3vw);
  }

  .contentDet h3{
    font-size: min(5vw, 16px);
  }

  .DueDate{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }