.cont{
    width: min(100vw, 1440px);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cont h2{
    font-size: min(60px, 9vw);
    width: 80%;
    text-align: center;
}

.cont h2 span{
    color: #03a4ff;
}

.convoCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 550px;

}

.image1{
    width: 634px;
    height: 206px;
    position: absolute;
    top: 10px;
    left: 0px;
}
.image2{
    width: 645px;
    height: 206px;
    position: absolute;
    top: -20px;
    right: 0px;
}
.image3{
    width: 645px;
    height: 206px;
    position: absolute;
}
.image4{
    width: 645px;
    height: 206px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.image5{
    width: 645px;
    height: 206px;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin:130px auto;
    row-gap: 40px;
    column-gap: 30px;
    
}

.ben{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.ben svg{
    color: #03a4ff;
    width: 20px;
    height: 20px;
    border: 1px solid #03a4ff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.ben p{
    line-height: 30px;
    font-size: min(14px, 3vw);
    padding: 0;
    margin: 0;
}

.ben h3{
    padding: 0;
    margin: 10px 0;
}

.lastCTA{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lastCTA p {
    line-height: 30px;
    font-size: min(16px, 3vw);
    text-align: center;
    width: 90%;
}

.FAQ{
    width: 98%;
    min-height: 500px;
    
    background: #BCE4FF;
    gap: 5px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.faqCont {
    padding: 25px;
}
.faqCont p{
    line-height: 30px;
    font-size: min(14px, 3vw);
}

.faqCont h3{
    font-size: min(18px, 5vw);
    
}

.lastCall{
    width: 98%;
    min-height: 350px;
    border: 1px solid #03a4ff;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.lastCall div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 60%;
    text-align: center;
}
.lastCall div h2{
    font-size: min(30px, 10vw);
}
.lastCall div h2 span{
    color: #03a4ff;
}

.Button{
    margin-top: 30px;
}

.Button a{
    background-color: #03a4ff;
    font-size: min(14px, 4vw);
    width: 240px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.Button a {
    color: #ffffff;
    text-decoration: none;
}
.Button a:active{
    color: #111115;
    background: #ffffff;
}
.Button a:hover{
    background-color: #008ddf;
}


.imageD1{
    width: 213px;
    height: 171px;
    position: absolute;
    left: -10%;
    top: 50%;
}
.imageD2{
    width: 120px;
    height: 120px;
    position: absolute;
    right:-10%;
    top: 50%;
}

.CTA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: center;
    min-height: 150px;
}

.CTA p{
    width: 50%;
    text-align: center;
    font-size: min(16px, 4vw);
    line-height: 25px;
}