.sidePanel {
  height:60px;
  width: 95%;
  background-color: #111115;
  border-radius: .6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin:auto;
  margin-top: 20px;
  padding: 0;
}

  .Table{
    position: relative;
    
  }
  .sideIcon{
    width: min(20px , 4vw);
    height:  min(20px , 4vw);
    background: transparent;
    position: relative;
  }
  .sideIcon:hover{
    cursor: pointer;
    border-radius: 100px;
  }

  .categories{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: left;
    margin-top: 40px;
    
  }
  .profiles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
  }
  .cat{
    padding: 5px 20px;
    background-color: #111115;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;

  }
  
  .cat > p, .search > p{
    font-size: min(2vw, 12px);
  }
  .search{
    width: 300px;
    height: 50px;
    background-color: #111115;
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
  }

  .searchIcon{
    width: 20px;
    height: 18px;
    background: transparent;
    margin: 20px 0;
    position: relative;
    margin-left: 20px;
  
  }

  .search > input{
    width: 95%;
    height: 75%;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
  }
  .content{
    width: 100%;
  }


  .TableHolder{
    width: min(100vw, 1400px);
    margin: auto;
    overflow-x: auto;
    padding-bottom: 20px;

  }

  .data td{
    font-size: min(3vw, 12px);
    text-align: center;
    padding:10px;
  }

  .data{
    margin: auto;
    width: 20%;
  }
  .headingNames th{
    width: 20%;
    padding: 12px 0;
    background-color: #111115;
    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
    font-size: min(3vw, 15px);

  }

  .headingNames td{
    font-size: min(3vw, 15px);
   
  }
  .subHeadings td {
    width: 100px;
    font-size: min(3vw, 13px);
    margin: auto;
    padding: 12px;
  }

  .subHeadings tr {
    width: 100px;
    margin: auto;
    text-align: center;
 
  }
  .credecials td{
    text-align: left;
  }

  .subHeadings{
    
    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
  }

  .DownloadActions{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 20px auto 30px auto;
    justify-content: space-between;
  }
  .buttons{
    padding: 0px 18px;
    background: #111115;
    border-radius: 5px;
  }


  /* //////////////////////// */

  .SelectorCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.Select{
    padding: 7px 20px;
    width: min(480px, 40vw);
    height: 60px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #111115;
    border: none;
    outline: none;
}

.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}