.userContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-left: #03a3ff8a 1px solid;
  border-right: #03a3ff8a 1px solid;
  border-bottom: #03a3ff8a 1px solid;
  width: 98%;
  margin: auto;
}

.userContainer p{
    color: #111115;
    font-weight: normal;
    font-size: min(12px, 2vw);
    width: 12.5%;
    text-align: center;
  }

  /* Button */

  .btn{
    padding: 2px 20px;
    display: flex;
    width: fit-content;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 35px;
  }

  .btn:active{
    background: #0076b2;
    
  }


  .btn p {
    color: #03a4ff;
    font-size: min(12px, 3vw);
    margin: 0;
    width: 100%;
  }