.container{
  border: 1px solid #03a4ff;
  width: min(1400px, 90vw);
  height: 98vh;
  margin: auto;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}
.content{
  width: 100%;
  height: 100%;
}
/* Style the menu */
.menu{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2);
}

/* Style the intro panel */
.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  cursor: pointer;
  width: 100%;
}

/* Style Logout*/
.logout{
  margin-right: 20px;
}

.logout button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #03a4ff;
  color: #ffffff;
  cursor: pointer;
}

/* Button Onclick */
.logout button:active{
  color: #111115;
  background: #ffffff;
  border: #03a4ff 1px solid;
}

/*  Style the summary section  */

.summary{
  width: 80%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.summary .sumDiv{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: auto;
  width: 40%;
  height: 100%;
  background: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2);
  padding: 10px;
}

/* Summary title */
.sumDiv .sumTitle{
  color: #111115;
  font-weight: normal;
  font-size: min(16px, 4vw);
  text-align: center;
  margin-left: 20px;
}

.summaryHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.header {
  color: #979999;
  margin-bottom: 10px;
}
.present{
  font-size: min(20px, 4vw);
  color: #111115;
  font-weight: bolder;
}

.summaryHeader span{
  border-left: #c0c0c0 2px solid;
  height: 40px;
  margin-top: 10px;
}