@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.container{
    background-color: #ffffff;
    color: #111115;
    position: relative;
    width: min(1440px, 100vw);
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: min(1440px, 100vw);
}

.navList{
    display: flex;
    flex-direction: inherit;
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    list-style: none;
    cursor: pointer;
    font-size: min(14px, 4vw);

}
.navList li a{
    text-decoration: none;
    color: #111115;
}
.navList li:active, .navList li a:active{
    color: #03a4ff;
    text-decoration: none;
}

.logoHolder{
    margin-left: 30px;
}

.heroText{
    width: 70%;
    margin: auto;
    text-align: center;
}

.heroText h1{
    font-size: min(75px, 5vw);
    font-family: 'Inter', sans-serif;
}

.heroText h1 span{
    color: #03a4ff;
}
.heroText p{
    font-size: min(15px, 3vw);
    font-weight: 200px;
    color: #575858;
    line-height: 24px;
}

.Button a{
    background-color: #03a4ff;
    font-size: min(14px, 4vw);
    width: 240px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

.Button a {
    color: #ffffff;
    text-decoration: none;
}
.Button a:active{
    color: #111115;
    background: #ffffff;
}
.Button a:hover{
    background-color: #008ddf;
}
.Images{
    display: flex;
    flex-direction: row;
    width: min(1440px, 100vw);
    position: relative;
    justify-content: space-between;
    padding: 0;
    height: fit-content;
}
.dashProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    background-image: url("https://i.ibb.co/4T4yVwF/LOGO.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
.image1{
    width: 557px;
    position: relative;
    height: 657px;
    left: 40px;
    top: 40px;
    z-index: 0;
    border-radius: 10px;
}
.image2{
    width: 503px;
    position: absolute;
    height: 596px;
   bottom: 0px;
    left: 480px;
    z-index: 1;
    border-radius: 10px;
}
.image3{
    width: 250px;
    position: relative;
    height: 430px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    right: 40px;
    top: -20px;
    
}
.image4{
    width: 250px;
    position: relative;
    height: 430px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 40px;
    border-radius: 10px;

 

}

.homeBody h2{
    position: absolute;
    top: 60px;
    font-size: min(75px, 5vw);
    left: 690px;
}