.container{
  border: 1px solid #03a4ff;
  width: min(1440px, 90vw);
  height: 98vh;
  margin: auto;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.content{
  width: 100%;
  height: 100%;
}
/* Style the menu */
.menu{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2);
}

/* Style the intro panel */
.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  cursor: pointer;
  width: 100%;
}

/* Style Logout*/
.logout{
  margin-right: 20px;
}

.logout button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #03a4ff;
  color: #ffffff;
  cursor: pointer;
}

/* Button Onclick */
.logout button:active{
  color: #111115;
  background: #ffffff;
  border: #03a4ff 1px solid;
}

/*  Style the summary section  */

.summary{
  width: 80%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.summary .sumDiv{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: auto;
  width: 40%;
  height: 100%;
  background: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2);
  padding: 10px;
}

/* Summary title */
.sumDiv .sumTitle{
  color: #111115;
  font-weight: normal;
  font-size: min(16px, 4vw);
  text-align: center;
  margin-left: 20px;
}

.summaryHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.header {
  color: #979999;
  margin-bottom: 10px;
}
.present{
  font-size: min(20px, 4vw);
  color: #111115;
  font-weight: bolder;
}

.summaryHeader span{
  border-left: #c0c0c0 2px solid;
  height: 40px;
  margin-top: 10px;
}

/* Style search bar */
.search{
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 300px;
  border-radius: 5px;
  border: #03a3ff80 1px solid;
  padding: 0 10px;
}

.searchBar input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  background: transparent;
  color: #111115;
}

/* Style legend */
.legend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.legendItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px;
}

.legendColor{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  
}

.legendText{
  color: #111115;
}

/* Members */

.membersHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 30px;
  background: #03a4ff;
  margin: auto;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-left: #03a4ff 1px solid;
  border-right: #03a4ff 1px solid;
  border-top: #03a4ff 1px solid;
  position: sticky;
  top: 0;

}

.membersHeader p{
  color: #ffffff;
  font-weight: normal;
  font-size: min(14px, 2vw);
  width: 12.5%;
  text-align: center;
}

.membersPeople{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
  max-height: 70vh;
  overflow-y: auto;
  padding-bottom: 100px;
  direction: rtl;

}

.membersPeople::-webkit-scrollbar{
  width: 5px;
}
.membersPeople::-webkit-scrollbar-thumb{
  background: #03a4ff;
  border-radius: 5px;
}

/* Position scrollbar absolute */

.membersPeople::-webkit-scrollbar-track{
  background: transparent;
  
}

.members{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  overflow-y: auto;
  padding-bottom: 100px;
}