.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
  
.cont .scan1 {
    height: 100%;
    width: 20px;
    background: #00b3ff56;
    position: absolute;
    border-radius: 0px;
    animation: scan 500ms ease-in-out infinite alternate;
}
.cont .scan2 {
    height: 100%;
    width: 20px;
    background: #00b3ff56;
    position: absolute;
    border-radius: 0px;
    animation: scan2 500ms ease-in-out infinite alternate;
}

.dashProfile{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 11px;
  background-image: url("https://i.ibb.co/n6fGy6f/Logo-Acna.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

@keyframes scan{
  0%{
      left: 0%;
      
  }
  100%{
      left: 90%;
   
  }

}
@keyframes scan2{
  100%{
      left: 0%;
      
  }
  0%{
      left: 90%;
   
  }

}
.cont{
    width: min(300px, 80vw);
    border: 1px solid #00a2ff;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
   margin: auto;
    border-radius: 5px;
}

