.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
  
.cont span {
    height: 150%;
    width: 30px;
    background: #00a2ff50;
    position: absolute;
    border-radius: 5px;
    animation: scan 1.5s ease-in-out infinite alternate;
}

.dashProfile{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 11px;
  background-image: url("https://i.ibb.co/n6fGy6f/Logo-Acna.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

@keyframes scan{
  0%{
      left: 0%;
  }
  100%{
      left: 90%;
  }

}
.cont{
    width: min(300px, 80vw);
    border: 1px solid #00a2ff;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
   margin: auto;
    border-radius: 5px;
}

@keyframes scan{
    0%{
        left: 10%;
    }
    100%{
        left: 90%;
    }

}