.container{
    width: min(600px, 90vw);
    height: 260px;
    background: #026096;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div {
    margin-top: 30px;
    background-color: #03a4ff;
    width: 60px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.container div:hover{
    background-color: #b3e3ff;
}
.container div:active{
    background-color: #00578a;
}