.Details{
width: 100%;  
display: flex;
flex-direction: column;
position: sticky;
top: 0;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
    color: #111115;
}

.ImageHolder{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url("https://i.ibb.co/Bch295F/Frame-169.png");
    background-position: center;
    /* background: #03a4ff; */
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #03a4ff;
  }
  
  .DetailsHolder{
    width: 100%;
    height: 200px; 
    /* background-color: #acd7f5; */
    background-color: #ffffff;
    /* margin-top: 10px; */
    position: sticky;
    padding-left: 10px;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .Contacts{
    width: min(900px, 98vw);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: min(12px, 2vw);
    margin-bottom: 10px;
  }

  .panel{
    height: 100vh;
    width: 250px;
    position:sticky;
    overflow: hidden;
    top: 0;
    /* background-color: #acd7f5; */
    background-color: #111115; 
  }
  .DetailsContacts{
    margin-top: 20px;
    font-size: min(12px, 2vw);
    margin:auto;
    text-transform: uppercase;
  }

  .DetailsContacts h4{
    font-size: min(5vw, 25px);
    padding: 0;
    margin: 10px;

  
  }

  .Contacts div p{
    font-size: min(2vw, 12px);
  }

  .DetailsHolder h4{
    font-size: min(30px, 10vw);

  }

  .DetailsHolder h4 span {
    padding: 8px 2px;
    background-color: #03a4ff;
    border-radius: 3px;
    margin-right: 10px;
  }

  .Contacts div p:first-child{
    color: #68696A;
  }

  .Buttons{
    width: min(400px, 95vw);
    position: absolute;
    bottom: 20px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    justify-content: space-evenly;
  }

  .btn{
    padding: 2px 20px;
    display: flex;
    background-color: #03a4ff;
    color: #FFFFFF;
    width: fit-content;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: min(12px, 3vw);
    line-break:strict;
    word-break: keep-all;
    word-wrap: none;
    margin: 0 10px;
  }

  .btn:active{
    background: #4d4c4c;
  }

  .BtnImage{
    width: min(25px , 4vw);
    height:  min(25px , 4vw);
    background: transparent;
    position: relative;
    margin-right: 10px;
  }

  /* ./////////////////////////////// */

  .Links{
    width: 280px;
    height: 140px;
    background-color: #111115; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.profileDetails{
  width: 100%;
}
.AttendancePlan > p, .AttendancePlan > span{
  margin: 0;
  padding: 0;
    font-size: 14px;
    color:#68696A;
}
.AttendancePlan > span{
  padding: 5px;
  background-color: rgb(5, 83, 5);
  border-radius: 5px;
  color: #00fc61;
}
.Links{
    text-decoration: none;
    color: inherit;
}

.Links:visited{
    color: inherit;
}

.Attendance{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

}
.AttendancePlan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  flex-wrap: wrap;
}
.Times{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.checkInTimes p{
  font-size: min(12px, 3vw);
  color:#68696A;
}

.checkInTimes p:last-child{
  color: aliceblue;
}


@media (max-width: 1240px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 98vw;
  }
  .sidePanel a{
    display: block;
    width: fit-content;
  }
  .sidePanel {
    height: 60px;
    width: 98%;
    border-radius: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    position: relative;
    background: #111115;
  }
  .panel{
    width: 100vw;
    height: fit-content;
    align-items: center;
    position: relative;
    background: transparent;
  }
  .sidePanel a p{
    display: none;
  }
  .DetailsHolder {
    width: 98%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    border-radius: .6rem;
  }
  .Contacts div{
    margin: 5px;
    font-size: 1vw;
  }
.Buttons{
  padding-left: 0px;
}
}