.headingNames th{
    width: 400px;
    padding: 12px 0;
    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
    border-top: 1px solid #2e393a;
    font-size: min(3vw, 14px);
    text-align: center;
    

  }

  .headingNames th:first-child{
    border-left: 1px solid #2e393a;
  }

  .headingNames td{
    font-size: min(3vw, 16px);
  
 
  }

  .table{
    width: 1240px;
    margin: auto;

  }

  .TableHolder{
    margin: auto;
    overflow-x:auto;
    padding-bottom: 20px;
    width: 100vw;
    position: relative;
  }

  .firstRow{
    width: 100%;
  }

  .title{
    width: 100%;
    text-align: center;
  }


  .para{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
   
  }

  .header th td{
    font-size: min(3vw, 13px);
    padding: 5px;
    text-align: center;
    width: 25%;

  }
  .header th{
    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
  }
  .header th:first-child{
    border-left: 1px solid #2e393a;
  }

  .headers div span{
    font-size: min(3vw, 13px);
    padding: 5px;
    text-align: center;
    width: 15%;
  }

  .subHeadings td {
    width: min(100px, 3vw);
    font-size: min(3vw, 13px);
    margin: 10px;
    padding: 12px;
   

  }
  .headers td{
    font-weight: 800;
  }

  .subHeadings tr {
    width: min(100px, 3vw);
    margin: auto;
    text-align: right;
  
 
  }
  .subHeadings th, .subHeadings td{
    padding: 12px 0;
    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
    font-size: min(3vw, 13px);
    width: 30vw;
    text-align: center;

  }
  .subHeadings td:first-child{
    border-left: 1px solid #2e393a;
  }