.sidePanel a{
  display: block;
  width: fit-content;
  color: #ffffff;
}
.sidePanel {
  height: 60px;
  width: 98%;
  border-radius: .6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  position: relative;
  background: #111115;
}
.panel{
  width: 100vw;
  height: fit-content;
  align-items: center;
  position: relative;
  background: transparent;
}
.sidePanel a p{
  display: none;
}
.content{
  width: min(1440px, 100vw);
  margin: auto;
}
  .Table{
    position: relative;
    width: min(1440px, 95vw);
    margin: auto;
    background-color: #ffffff;
    color: #111115
  }

  .sideIcon svg {
    width: min(25px, 5vw);
    height: min(25px, 5vw);
    background: transparent;
    margin: 20px 0;
    position: relative;
    fill: #FFFFFF;
    
  }
  
  .sideIcon:hover{
    cursor: pointer;
    border-radius: 100px;
  }

  .categories{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: left;
    margin-top: 40px;
    
  }


  .profiles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
  }
  .cat{
    padding: 5px 20px;
    background-color: #111115;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;

  }
  
  .cat > p, .search > p{
    font-size: min(2.4vw, 12px);
  }
  .search{
    width: 300px;
    height: 50px;
    background-color: #111115;
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
  }

  .searchIcon{
    width: 20px;
    height: 18px;
    background: transparent;
    margin: 20px 0;
    position: relative;
    margin-left: 20px;
  
  }

  .search > input{
    width: 95%;
    height: 75%;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
  }



.arrive td{
  width: 50%;
 
  
}

  .data td{
    font-size: min(3vw, 14px);
    text-align: center;
    color: #0066ff;
    padding:10px;

  }
  .title{
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .title p {
    width: 60%;
    font-size: min(14px, 3vw);
  }
  .data{
    margin: auto;
    width: 20%;

  }



  .headers  span{
    padding: 5px;
    color: #00850b;
  }

  .credecials td{
    text-align: left;
    font-size: min(3vw, 15px);
  }
.names{
  border-bottom: 1px solid #2e393a;
  border-right: 1px solid #2e393a;
  border-left: 1px solid #2e393a;
}

.visuallyHidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 1;
}
  .subHeadings{

    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
  }
.subHeadings:first-child{
  border-left: 1px solid #2e393a;
}
  .DownloadActions{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 40px auto 10px auto;
    justify-content: space-between;
    color: #ffffff;
  }
  .buttons{
    padding: 0px 15px;
    background: #111115;
    border-radius: 5px;
    font-size: min(13px, 4vw);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
   gap: 5px;
   margin-bottom: 10px;
  }
  .buttons:nth-child(even){
    visibility: hidden;
  }
  .btns:hover .buttons:nth-child(even){
      visibility: visible;
  }
.buttons:active{
  background: #68696A;
}
  .Date{
    font-size: min(13px, 4vw);
    color: #111115
  }

  /* //////////////////////// */

  .SelectorCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.Select{
    padding: 7px 20px;
    width: min(380px, 40vw);
    height: 60px;
    outline: none;
    border: none;
    border-radius: 4px;
   
    border: none;
    outline: none;
}

.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.selector p{
  font-size: min(10px, 4vw);
}