.sidePanel {
  height:60px;
  width: 95%;
  background-color: #111115;
  border-radius: .6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin:auto;
  margin-top: 20px;
  padding: 0;
}

  .Table{
    position: relative;
    width: 100vw; 
  }
  .sideIcon{
    width: min(20px , 4vw);
    height:  min(20px , 4vw);
    background: transparent;
    position: relative;
  }
  .sideIcon:hover{
    cursor: pointer;
    border-radius: 100px;
  }

  .categories{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: left;
    margin-top: 40px;
    
  }


  .profiles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
  }
  .cat{
    padding: 5px 20px;
    background-color: #111115;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;

  }
  
  .cat > p, .search > p{
    font-size: min(2.4vw, 12px);
  }
  .search{
    width: 300px;
    height: 50px;
    background-color: #111115;
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
  }

  .searchIcon{
    width: 20px;
    height: 18px;
    background: transparent;
    margin: 20px 0;
    position: relative;
    margin-left: 20px;
  
  }

  .search > input{
    width: 95%;
    height: 75%;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
  }


  .TableHolder{
    margin: auto;
    overflow-x:scroll;
    padding-bottom: 20px;
    width: 100vw;
  }
.arrive td{
  width: 50%;
 
  
}

  .data td{
    font-size: min(3vw, 14px);
    text-align: center;
    color: #0066ff;
    padding:10px;

  }

  .data{
    margin: auto;
    width: 20%;

  }



  .headers span{
    padding: 5px;
  }
  .credecials td{
    text-align: left;
    font-size: min(3vw, 15px);
  }
.names{
  border-bottom: 1px solid #2e393a;
  border-right: 1px solid #2e393a;
  border-left: 1px solid #2e393a;
}


  .subHeadings{

    border-bottom: 1px solid #2e393a;
    border-right: 1px solid #2e393a;
  }
.subHeadings:first-child{
  border-left: 1px solid #2e393a;
}
  .DownloadActions{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 40px auto 10px auto;
    justify-content: space-between;
  }
  .buttons{
    padding: 0px 15px;
    background: #111115;
    border-radius: 5px;
    font-size: min(13px, 4vw);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
   
  }
.buttons:active{
  background: #68696A;
}
  .Date{
    font-size: min(13px, 4vw);
  }

  /* //////////////////////// */

  .SelectorCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.Select{
    padding: 7px 20px;
    width: min(480px, 40vw);
    height: 60px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #111115;
    border: none;
    outline: none;
}

.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.selector p{
  font-size: min(10px, 4vw);
}