:root{
    --dark-color: #111115;
    --light-color: #ffffff;
    --darkbg: #111115;
    --lightbg: #FFFFFF;
    --accent-dark: #1C1E20;
    --accent-light: #f1f1f121;
    --gray: #68696A;
    --blue: #03a4ff;
    --green: #0f0f14
}