@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');



* {
  user-select: none;
  font-family: 'Inter', sans-serif;
}
body{
  width: min(100vw, 1440px);
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background: #fff;
}

::-webkit-scrollbar {
  width: 9px;

}


::-webkit-scrollbar-track {

  background: #1C1E20;
}

::-webkit-scrollbar-thumb {
  background: #d3d2d2;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}