.cont{
    color: #111115;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.Form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 5px;
}

.formCont{
    width: min(95vw, 1440px);
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Image{
    position: relative;
    width: 400px;
    height:500px;
    
}

.formInputs{
    width: min(700px, 90vw);
    
}
.formInputs input{
    border-color:  #03a4ff;
}
.SelectCont{
    width: 100%;
}

.Time{
    display: inline-flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.Time .Inp{
    width: 100%;
}
.Agenda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.visuallyHidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    width: 1;
}

.text{
    width: 90%;
}
.Close{
    position: absolute !important;
    right: 30px;
    top: 10px;
}

.Send{
    position: relative;
    margin-top: 20px !important;
    right: 30px;
    width: 150px;
    align-self: flex-end;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #474c4e49;
    z-index: 2;
}