.cont{
    display:flex;
    flex-direction: row;
    width: 100vw;
    gap: 10px;
    justify-content: center;
    margin: auto;
    position: relative;
}

.Right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #03a4ff;
    padding-left: 10px;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding-top: 0;
    margin: 0;
    justify-content: left;
}
.RightHeader{
    width: 100%;
    text-align: left;
    position: sticky;
    top: 0; 
    padding: 10px 0;
    background: #ffffff;
    margin: 0;
}

.Left{
    width: 100%;
    padding-left: 10px;
}
.Interactions span{
    margin: 5px;
    display: inline-flex;
    align-items: center;
}
.Interactions span p{
    font-size: min(12px, 2vw);
 
}

.Interactions span svg{
    margin-right: 5px;
    width:  14px;
    height: 14px;
}

.Header{

    padding: 10px 0;
    background: #FFFFFF;
}

.Header p{
    line-height: 35px;
    font-size: min(14px, 3vw);
}

.Btns{
    display: inline-flex;
    gap: 10px;
}

.Date{
    font-size: min(12px, 2vw);
}

.Line{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.Line i{
    border-bottom: 1px solid #03a4ff;
    width: 100%;
}

.Line small{
    font-size: min(14px, 2vw);
    color: #03a4ff;
}

.close{
    position: fixed !important;
    right: 10px !important;
    z-index: 1;
    top: 10px !important;
}