.container{
    width: min(98vw, 1080px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background: #fff;
}


.formHolder{
    width: 100%;
    background: #fff;

    color: #111115;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
}
.heading{
    margin: auto;
    padding: 10px;
    width: 200px;
    border: #03a4ff 1px solid;
    color: #03a4ff;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}
.details{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 13px;
}
.QRCont{
    width: 100%;
    height: fit-content;
    /* border: 1px solid #111115; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.QRCode div p {
   color: #111115;
}

.submit{
    background-color: #03a4ff;
    color: #ffffff;
    font-size: min(14px, 4vw);
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    border: none;
}

.submit:active{
    background: #68696A;
    color: #fff;
}

.para{
    font-weight: 800;
    padding: 20px;
    border: 2px dotted #111115;
    border-radius: 5px;
    text-align: center;
    color: #111115;
    margin-top: 20px;
}

.day{
    padding: 10px;
    width: 200px;
    border: #03a4ff 1px solid;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #03a4ff;
    text-align: center;
}
