.container{
    width: min(98vw, 1080px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    color: #111115;
}

.intro{
    width: 80%;
    margin:30px auto;
    text-align: center;
    font-size: min(22px, 4vw);
    color: #111115;
}
.formHolder{
    width: 100%;
}
.coordinates > input{
    padding: 20px;
    width: 95%;
    color: #111115;
    background: #f7f7f7;
    outline: 1px solid #03a4ff;
    border: none;
    border-radius: 5px;
    font-size: min(16px, 3vw);
    margin-bottom: 20px;
}
.submit{
    background-color: #03a4ff;
    color: #ffffff;
    font-size: min(14px, 4vw);
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
    border: none;
   
}
.submit:active{
    background: #68696A;
    color: #111115;
}
.coordinates{
    margin:30px auto;
}

.coordinates input:focus{
    outline: 1px solid #494949;
}
.coordinates input::placeholder{
    color:#65696e;
}


.instructions{
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
}
.instructions h3{
    font-size: min(22px, 5vw);
    color: #68696A;
}
.instruList{
    color: #68696A;
    font-size: min(14px, 3vw);
}

.instruList li{
    margin-bottom: 20px;

}

.instruList li a{
    color: #bec4ca;
    text-decoration: none;
}