.Container{
    width: min(90vw, 1180px);
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background: #ffffff;
}

.profileImage{
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    background-image: url("");
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.Profile{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.adminStyles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.details input{
    background-color: transparent;
    padding: 15px;
    border: none;
    width: 250px;

    margin:  10px;
    font-size: min(16px, 3vw);
    color: #111115;
    outline: 1px solid #03a4ff;
    border-radius: 5px;
}
.details input::placeholder{
    color:#68696A;
    font-size: small;
    font-weight: 100;
}
.details input:focus {
    outline: 1px solid ;
    outline-color: #03a4ff;
}

.Icon svg{
    width: min(20px , 4vw);
    height:  min(20px , 4vw);
    background: transparent;
    position: relative;
    fill: #03a4ff;
  }
  .Icon:hover{
    cursor: pointer;
    border-radius: 100px;
  }

  .Data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .Data p{
    color: #111115;
    font-size: 10px;
  }

  /* //////////////////////////// */

  .coordinates > input{
    padding: 16px;
    width: 100%;
    color: #111115;
    background: #ffffff;
    outline: 1px solid #03a4ff;
    border: none;
    border-radius: 5px;
    font-size: min(16px, 3vw);
    margin-bottom: 20px;
}

.formHolder{
    width: 100%;
    margin-top: 40px;
}
.coordinates p {
    color: #111115;
    font-size: 13px;
}
.coordinates h3{
    color: #111115;
}
.coordinates input:focus{
    outline: 1px solid #494949;
}
.coordinates input::placeholder{
    color:#65696e;
}
.submit{
    padding: 20px;
    width: 20%;
    color: #ffffff;
    background: #03a4ff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: min(16px, 3vw);  
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}
.submit:active{
    background: #68696A;
}
.listIns li{
    color: #68696A;
    margin-bottom: 10px;
    font-size: min(14px, 3vw);
}