.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    border: #03a4ff 1px solid;
    height: fit-content;
    border-radius: 8px;
    font-size: min(3vw, 14px);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    margin:40px 10px;
    padding: 10px;

}

.Container:active{
    background: #787979
}
.Container:hover{
    background: #03a3ff1a;
}
.Container .Name{
    font-size: min(3vw, 15px);
    margin: 0;
    color: #111115;
  
}


.Cont{
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
} 
.Cat:hover .Cont{
    cursor: pointer;
}
.Cat{
    width: fit-content;
    margin: 0;
    margin-top: 30px;
    
}
.Icon{
    width: 40px;
    height: 40px;
    background: transparent;
    position: relative;
}
.Icon svg{
    stroke: #111115;
}
.Cat h4 span {
    padding: 8px 2px;
    background-color: #03a4ff;
    border-radius: 3px;
    margin-right: 10px;
  }
