.Cont{
    width: min(95vw, 1240px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin: auto;
    position: relative;
}

.container{
    background: #fcfbfb;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.categories{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .profiles{
    margin-top: 50px;
    display: flex;
    min-height: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .searchBar {
    background-color: #dadada;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
  
  }
  .searchIcon {
    width: min(20px, 4vw);
    height: min(20px, 4vw);
    background: transparent;
    margin: 20px 0;
    position: relative;
    margin-left: 20px;
    stroke: #111115;
  }
  
  .searchBar>input {
    width: 95%;
    height: 75%;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    color: #111115;
  }
  .cat{
    padding: 5px 0px;
    background-color: #111115;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 140px;
    word-wrap: none;
  }
  

  /* ///////////////////////////// */

  .containerProfile{
    width: 350px;
    height: 150px;
    background-color: #111115; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.profileImage{
    background: #1e6c99;
    width: 40%;
    height: 100%;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    background-image: url("");
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileDetails > p{
    font-size: min(12px, 3vw);
    color:#cccccc;
    
}
.profileDetails ol li {
    font-size: min(12px, 3vw);
    color:#cccccc;

}
.Links{
    text-decoration: none;
    color: inherit;
    position: relative;
}

.options{
    position: absolute;
    width: 200px;
    height: fit-content;
    background: #2a2a31;
    z-index: 2;
    top: 25px;
    left: 40%;
    display: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 2px #000000;
}

.Links:hover > .options{
    display: block;
}

.Name{
    margin: 5px;
    font-weight: 800;
   
}

.Option p {
    padding: 5px;
    font-size: min(13px, 3vw);
    color: #cececf;
}

.Option p:hover{
    background-color: #68696A1c;
    cursor: pointer;
    font-weight: 700;
    color: #c7cacc;
}

.Option p:active{
    background-color: #68696a;
}
.listIns li{
    color: #68696A;
    margin-bottom: 10px;
    font-size: min(14px, 3vw);
}
.cat > p{
    font-size: min(12px, 2.4vw);
  }
  .cat:active {
    background: #68696A;
  }
/* Modal Styles */

.modalContainer {
    width: 100vw;
    position: relative;
    height: fit-content;

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.modal{
    width: min(90vw, 1080px);
    height: fit-content;

    border-radius: 5px;
    position: relative;
}
.btn p {
    color: #fcfcfc;
    
}
.btn{
    margin: auto;
    width: 200px;
    cursor: pointer;
    background: #03a4ff;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: min(16px, 3vw);  
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.btn:hover {
    color: #8d8d8d;
}
.Form{
    width: min(98vw, 1080px);
}
.coordinates{

    width: 100%;
}
.coordinates > input{
    padding: 10px;
    width: 85%;
    color: #111115;
    background: #fdfdfd;
    outline: 1px solid #03a4ff;
    border: none;
    border-radius: 0;
    font-size: min(15px, 3vw);
    margin-bottom: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.formHolder{
    width: 100%;
}

.coordinates input:focus{
    outline: none;
}
.memberInfo p{
    font-size: min(12px, 3vw);
    color: #68696A;
  }
.coordinates input::placeholder{
    color:#919191;
    font-size: 12px;
}
.closeModal{
    color:#111115;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.submit{
    padding: 20px;
    width: 20%;
    color: #68696A;
    background: #111115;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: min(16px, 3vw);  
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}
.addNew{
    width: 100%;
    justify-content: center;
    display: grid;
}
.listIns li{
    color: #68696A;
    margin-bottom: 10px;
    font-size: min(12px, 3vw);
}
.memberInfo{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
}
@media(max-width: 1180px){
    .memberInfo{
        grid-template-columns: 1fr;
    }
}